<config>

	<parent-provides>
		<service name="ROM"/>
		<service name="RAM"/>
		<service name="CAP"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="SIGNAL"/>
		<service name="Nic"/>
		<service name="Nitpicker"/>
		<service name="Timer"/>
		<service name="Loader"/>
	</parent-provides>

	<start name="arora">
		<resource name="RAM" quantum="2G"></resource>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

</config>
