<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="RAM"/>
		<service name="CAP"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
		<service name="Nitpicker"/>
	</parent-provides>
	<default-route> <any-service> <parent/> <any-child/> </any-service> </default-route>
	<start name="framebuffer">
		<binary name="nit_fb"/>
		<resource name="RAM" quantum="8M"/>
		<provides>
			<service name="Framebuffer"/>
			<service name="Input"/>
		</provides>
		<config xpos="0" ypos="0" width="640" height="480"/>
	</start>
	<start name="busybox">
		<binary name="vmlinux"/>
		<resource name="RAM" quantum="32M"/>
		<config>
			<commandline args=""/>
			<initrd name="initrd.gz"/>
			<screens>
				<framebuffer/>
			</screens>
		</config>
	</start>
</config>
