<config>
	<parent-provides>
		<service name="ROM"/>
		<service name="RAM"/>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="IO_PORT"/>
		<service name="CAP"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="PCI"/>
		<service name="SIGNAL"/>
		<service name="Nitpicker"/>
		<service name="Timer"/>
	</parent-provides>
	<default-route>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>

	<start name="liquid_fb">
		<resource name="RAM" quantum="8M"/>
		<config animate="off" ypos="300" ypos="160" width="576" height="408"
		        title="OpenGL" />
		<provides>
			<service name="Input"/>
			<service name="Framebuffer"/>
		</provides>
	</start>

	<start name="eglgears">
		<resource name="RAM" quantum="1G"/>
		<route>
			<service name="Framebuffer"> <child name=""/> </service>
			<service name="Input">       <child name=""/> </service>
			<any-service> <parent/> <any-child/> </any-service>
		</route>
	</start>
</config>
