<config>

	<parent-provides>
		<service name="ROM"/>
		<service name="RAM"/>
		<service name="CAP"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="SIGNAL"/>
		<service name="Nitpicker"/>
		<service name="Timer"/>
	</parent-provides>

	<default-route>
		<any-service> <parent/> <any-child/> </any-service>
	</default-route>

	<start name="slides_rom">
		<binary name="tar_rom"/>
		<resource name="RAM" quantum="18M"/>
		<provides><service name="ROM"/></provides>
		<route><any-service><parent/></any-service></route>
		<config><archive name="fosdem_slides.tar"/></config>
	</start>

	<start name="presenter">
		<resource name="RAM" quantum="12M"/>
		<route><any-service><child name="slides_rom"/><any-child/><parent/></any-service></route>
		<config>
			<slide png="00000001.png"/>
			<slide png="00000002.png"/>
			<slide png="00000003.png"/>
			<slide png="00000004.png"/>
			<slide png="00000005.png"/>
			<slide png="00000006.png"/>
			<slide png="00000007.png"/>
			<slide png="00000008.png"/>
			<slide png="00000009.png"/>
			<slide png="00000010.png"/>
			<slide png="00000011.png"/>
			<slide png="00000012.png"/>
			<slide png="00000013.png"/>
			<slide png="00000014.png"/>
			<slide png="00000015.png"/>
			<slide png="00000016.png"/>
			<slide png="00000017.png"/>
			<slide png="00000018.png"/>
			<slide png="00000019.png"/>
			<slide png="00000020.png"/>
			<slide png="00000021.png"/>
			<slide png="00000022.png"/>
			<slide png="00000023.png"/>
			<slide png="00000024.png"/>
			<slide png="00000025.png"/>
			<slide png="00000026.png"/>
			<slide png="00000027.png"/>
			<slide png="00000028.png"/>
			<slide png="00000029.png"/>
			<slide png="00000030.png"/>
			<slide png="00000031.png"/>
			<slide png="00000032.png"/>
			<slide png="00000033.png"/>
			<slide png="00000034.png"/>
			<slide png="00000035.png"/>
			<slide png="00000036.png"/>
			<slide png="00000037.png"/>
			<slide png="00000038.png"/>
			<slide png="00000039.png"/>
			<slide png="00000040.png"/>
			<slide png="00000041.png"/>
			<slide png="00000042.png"/>
			<slide png="00000043.png"/>
			<slide png="00000044.png"/>
			<slide png="00000045.png"/>
			<slide png="00000046.png"/>
			<slide png="00000047.png"/>
			<slide png="00000048.png"/>
			<slide png="00000049.png"/>
			<slide png="00000050.png"/>
			<slide png="00000051.png"/>
			<slide png="00000052.png"/>
			<slide png="00000053.png"/>
			<slide png="00000054.png"/>
			<slide png="00000055.png"/>
			<slide png="00000056.png"/>
		</config>
	</start>

</config>
